//- include includes/_header
//- include includes/_breadcrumbs
//- include includes/_content
//- include includes/_footer
extends ./layout
block title 
	|Главная Страница
block content
	.content-wrap
		.container
			h2.h2.content-title Мибильные телефоны
			include includes/_sidebar
			include includes/_content

