doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		link(rel='stylesheet' href='../bower/normalize-css/normalize.css')
		link(rel='stylesheet' href='../fonts/fonts.css')
		link(rel='stylesheet' href='css/main.css')
		title
			block title
	body
		.wrapper
			block header
				include includes/_header
			block breadcrumbs
				include includes/_breadcrumbs
			block content
			block 2column
				include includes/_column	
		block footer
			include includes/_footer
		script(src="../bower/jquery/dist/jquery.js")
		script(src="../bower/jquery.columnizer/src/jquery.columnizer.js")
		script(src="../js/main.js")