.social-block__link{
	display:block;
}
@import "socials/*.png";

$socialClass: fb, vk, tw, fb_w, vk_w, tw_w;

 @each $item in $socialClass {
	.social-block__link_#{$item} {
		@include socials-sprite($item) ;
		$height : socials-sprite-height($item);
		$width : socials-sprite-width($item);
		width: $width;
		height: $height;
	}
}

@mixin get-sprite($views-map,$item) {
 $sprite-image: sprite-file($views-map,$item);
 $sprite-url: sprite-url($views-map);
 $sprite-position: sprite-position($views-map,$item);
 $sprite-width: image-width($sprite-image);
 $sprite-height: image-height($sprite-image);

 background: $sprite-url $sprite-position no-repeat;
 width: $sprite-width;
 height: $sprite-height;
}